/*  aparición  */
@keyframes fadeInPure {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* pulso de brillo */
@keyframes magicGlow {
  0% {
    text-shadow: 0 0 5px rgba(255, 217, 0, 0.5);
  }
  50% {
    text-shadow: 0 0 10px rgba(255, 217, 0, 0.9),
      0 0 20px rgba(255, 217, 0, 0.6);
  }
  100% {
    text-shadow: 0 0 5px rgba(255, 217, 0, 0.5);
  }
}
/*--------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Georgia", serif;
}

body {
  background-color: #130404;
  color: rgba(255, 217, 0, 0.63);
}

.header {
  height: 11rem;
  width: 100%;
  text-align: center;
  border-bottom: solid 0.5rem rgba(131, 4, 4, 0.438);
  background-image: url("/harry.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 55%;

  .title {
    line-height: 4rem;
    padding-inline: 2rem;
  }
}

.main {
  padding: 2rem;
}

.container {
  max-width: 50rem;
  margin: 0 auto;
}
/*------------------- FILTER ----------------------*/
.filter-group {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: 8.5rem;
  margin-bottom: 2rem;
}
.filter-house {
  display: flex;
  align-items: center;
  margin-left: 10rem;
  gap: 3.5rem;
  margin-bottom: 2rem;
}

.label-character {
  display: inline-block;
  border: 0.125rem solid rgba(131, 4, 4, 0.562);
  padding: 0.3125rem 0.8125rem;
  border-radius: 0.25rem;
  font-weight: bold;
}
.filter-input:hover,
.filter-select:hover,
.label-house:hover,
.label-character:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px 3px rgba(255, 217, 0, 0.5);
}

.label-house {
  display: inline-block;
  border: 0.125rem solid rgba(131, 4, 4, 0.438);
  padding: 0.3125rem 1.875rem;
  border-radius: 0.25rem;
  font-weight: bold; /* Hacer el texto más notable */
}

.filter-input,
.filter-select {
  color: rgba(255, 217, 0, 0.63);
  padding: 0.3125rem 0.9375rem;
  width: 15.625rem;
  display: block;
  border: 0.09375rem solid #7d1212;
  border-radius: 0.5rem;
  background-color: black;
  resize: none;
}
/*------------------- LIST ----------------------*/
.list-title {
  text-align: center;
  margin-bottom: 3rem;
  color: #ffd900;

  /* ⬅️ APLICACIÓN DE LA ANIMACIÓN */
  animation: magicGlow 2s infinite alternate ease-in-out;
}
.list-card {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11.25rem, 1fr));
  gap: 2rem;
}
/*------------------- CARD ----------------------*/

.card {
  border: 0.0625rem solid rgba(131, 4, 4, 0.582);
  border-radius: 0.5rem;
  overflow: hidden;
  text-align: center;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px 4px rgba(255, 217, 0, 0.8),
    0 0 30px 10px rgba(255, 217, 0, 0.5);
}
.card a {
  text-decoration: none;
  color: inherit;
  display: block; /* Para que toda la tarjeta sea cliqueable */
  padding: 1.5rem; /* Espaciado interno */
}

.card_img {
  display: block;
  width: 12.5rem;
  object-fit: cover;
  margin-bottom: 2rem;
}
.card-title {
  margin-bottom: 1rem;
}
/*-------------------DETAIL-PAGE -------------------------*/
.detail-null {
  text-align: center;
  padding: 3rem 1rem;
  margin: 5rem auto;
  max-width: 600px;
  background-color: #380000;
  border: 3px solid #ffd700;
  border-radius: 10px;
}
.detail-null h2 {
  color: #ffd700;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.detail-null h3 {
  font-size: 1.7rem;
  margin-top: 0;
}

.detail-null a {
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: #5d0000;
  color: #ffd700;
  border: 1px solid #ffd700;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.detail-null a:hover {
  /* Efecto hover: Resplandor */
  background-color: #7a0000;
  box-shadow: 0 0 15px #ffd700; /* Resplandor dorado al pasar el ratón */
}
.detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-link {
  margin: 1rem auto;
  padding: 1rem 2rem;
  border: 0.1rem solid rgba(255, 217, 0, 0.63);
  background-color: rgba(131, 4, 4, 0.438);
  color: rgba(255, 217, 0, 0.63);
  text-decoration: none;
  border-radius: 0.3rem;
  font-weight: bold;
}
.details-link:hover {
  transform: scale(1.03);
  box-shadow: 0 0 15px 5px rgba(255, 217, 0, 0.8),
    0 0 30px 10px rgba(255, 217, 0, 0.5);
}

.detail-page {
  background-color: rgba(131, 4, 4, 0.438);
  border: 0.3rem solid rgba(255, 217, 0, 0.63);
  width: 90%;
  max-width: 500rem;
  margin: 3rem auto;
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1.9rem;
  animation: fadeInPure 1.5s ease-out 0.3s forwards;
  opacity: 0;
  overflow: hidden;
}
.detail-img {
  width: 50%;
  height: 50%;
  border: 0.3rem solid black;
  box-shadow: 0 1rem 0 black, 0 0 1rem 0.1rem black;

  border-radius: 0.3rem;
}
.details-link:hover {
  transform: scale(1.03);
  box-shadow: 0 15px 30px rgba(255, 217, 0, 0.5),
    0 0 10px rgba(255, 255, 255, 0.8);
}

.detail-list h2 {
  font-size: 3.2rem;
  margin-top: -5rem;
  margin-bottom: 3rem;
}

.detail-list dl {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.6rem 1rem;
}

.detail-list dt {
  font-size: 1.7rem;
  text-align: right;
  font-weight: bold;
}
.detail-list dd {
  font-size: 1.5rem;
}
/*--------------------- @MEDIA --------------------------*/
@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }

  .main {
    padding: 1rem;
  }

  .header {
    height: 8rem;
    border-bottom-width: 0.3rem;
  }

  .header .title {
    line-height: 3rem;
    font-size: 1.5rem;
  }
  /* ----------- FILTER ------------- */
  .filter-group,
  .filter-house {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }

  .filter-input,
  .filter-select {
    width: 100%;
    max-width: 15.625rem;
  }

  .label-character,
  .label-house {
    display: block;
  }

  /*---------- CARD --------------*/

  .list-title {
    margin-bottom: 2rem;
    font-size: 1.8rem;
  }
  .card_img {
    display: block;
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }
  /*---------- DETAIL-PAGE --------------*/
  .detail-page {
    flex-direction: column;
    width: 95%;
    padding: 1rem;
    gap: 1rem;
  }

  .detail-img {
    width: 70%;
    height: auto;
    margin-bottom: 1rem;
    align-items: center;
  }

  .detail-list h2 {
    font-size: 2rem;
    margin-top: 1rem;
  }

  .detail-list dt,
  .detail-list dd {
    font-size: 1.1rem;
  }
}
