* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
  background-color: #130404;
  color: rgba(255, 217, 0, 0.63);
}

.header {
  text-align: center;
  border-bottom: solid 0.5rem rgba(131, 4, 4, 0.438);

  .title {
    line-height: 4rem;
    padding-inline: 2rem;
  }
}

.main {
  padding: 2rem;
}
/*--------------------------------------------*/

.container {
  max-width: 800px;
  margin: 0 auto;
}
.filter-group,
.filter-house {
  display: flex; /* Diseño flexible */
  align-items: center; /* Alineación vertical */
  gap: 1rem;
  margin-bottom: 2rem;
}

.filter-house {
  gap: 3.2rem;
}
.list-title {
  text-align: center;
  margin-bottom: 3rem;
}
